.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* 🔹 전체 페이지에서 스크롤 가능하도록 설정 */
}

.content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 16px;
  max-height: calc(
    100vh - 180px
  ); /* 🔹 상단(Header, SearchBar, FilterHeader) 공간 제외 */
}

.section {
  margin: 24px 0px;
}

.sectionTitle {
  font-size: 21px;
  font-weight: 600;
  margin-left: 40px;
  margin-bottom: 0px;
}

.floatingButton {
  position: fixed;
  bottom: 90px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #0c5dff;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  z-index: 999;
}

@media (min-width: 768px) {
  .floatingButton {
    right: calc(50% - 340px);
  }
}
