.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.closeIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 10px 20px;
  max-height: 50vh; /* 최대 높이 설정 */
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: white;
  position: sticky;
  bottom: 0;
  z-index: 10;
}
  
  /*색깔은 FilterButton.module.css .selected에서 변경*/

  .bottomSheetFilterHeader {
    padding: 10px 0px; /* 바텀시트에서만 적용할 패딩 */
  }
  