.header {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  /* padding: 10px; */

  padding: 15px 7.5% 10px 7.5%;
  width: 80%;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .header {
    flex-wrap: nowrap; /* 모바일에서도 한 줄 유지 */
    overflow-x: auto;
    width: 100%; /*  모바일 화면 맞춤 */
  }

  .filterButton {
    font-size: 14px; /*  글자 크기 줄이기 */
    padding: 6px 10px;
    max-width: 100px; /*  버튼 크기 더 줄이기 */
  }
}
