.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 120px;
    height: auto;
  }
  
  .chatButtonContainer {
    display: flex;
    align-items: center;
  }
  
  .chatButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .chatButton:hover {
    transform: scale(1.1); /* 호버 시 확대 */
  }