/* 추천 전시 아이템 */
.exhibitionItem {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
}

.exhibitionThumbnail {
  max-width: 30%;
  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.posterImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.exhibitionInfo {
  text-align: left;
  margin-left: 0px;
  flex: 1;
}

.exhibitionTitle {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0px;
}

.exhibitionLocation {
  font-size: 12px;
  font-weight: 500;
  color: #767676;
}

.exhibitionDate {
  font-size: 10px;
  font-weight: 500;
  color: #767676;
}

.exhibitionCount {
  font-size: 10px;
  color: #a8a8a8;
  font-weight: 500;
  margin-top: 10px;
}

.exhibitionBadge {
  position: absolute;
  top: 8%;
  left: 6%;
  font-size: 15px;
  background-color: #5a91ff;
  color: white;
  padding: 1px 7px;
  border-radius: 20px;
}

.bookmarkButton {
  position: absolute;
  top: 10%;
  right: 28px;
  background: none;
  border: none;
  padding: 0; /* 기본 padding 제거 */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}
